.sell-uploader-box {
  position: relative;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
  text-align: center;
  min-height: 162px;
  cursor: pointer;
  width: 538px;
  padding: 40px;
  margin: 20px;
  justify-content: center;
}